/* Font imports. */

@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

/* Global styles */

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none !important;
    outline: none;
}
