.spacing {
    flex: 0 100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
}

/* Large devices */
@media (min-width: 992px) {
    .spacing {
        flex: 0 50%;
    }
}

.user {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: flex;
}

.user:hover {
    border: 1px solid #ccc;
    background: linear-gradient(130deg,
    rgba(153, 153, 153, 0.3) 8.33%,
    rgba(204, 204, 204, 0.3) 8.33%,
    rgba(204, 204, 204, 0.3) 16.67%,
    rgba(153, 153, 153, 0.3) 16.67%,
    rgba(153, 153, 153, 0.3) 25%,
    rgba(204, 204, 204, 0.3) 25%,
    rgba(204, 204, 204, 0.3) 33.33%,
    rgba(153, 153, 153, 0.3) 33.33%,
    rgba(153, 153, 153, 0.3) 41.67%,
    rgba(204, 204, 204, 0.3) 41.67%,
    rgba(204, 204, 204, 0.3) 50%,
    rgba(153, 153, 153, 0.3) 50%,
    rgba(153, 153, 153, 0.3) 58.33%,
    rgba(204, 204, 204, 0.3) 58.33%,
    rgba(204, 204, 204, 0.3) 66.67%,
    rgba(153, 153, 153, 0.3) 66.67%,
    rgba(153, 153, 153, 0.3) 75%,
    rgba(204, 204, 204, 0.3) 75%,
    rgba(204, 204, 204, 0.3) 83.33%,
    rgba(153, 153, 153, 0.3) 83.33%,
    rgba(153, 153, 153, 0.3) 91.67%,
    rgba(204, 204, 204, 0.3) 91.67%,
    rgba(204, 204, 204, 0.3) 100%), #f5f6f7;
    box-shadow: 0 1px 10px #999;
    background-size: 195.81px 233.36px;
    animation: gradientAnim 4s infinite linear backwards;
}

@keyframes gradientAnim {
    from {
        background-position: -195.81px 0;
    }
    to {
        background-position: 0 0;
    }
}

.selected {
    background-color: #eee !important;
    border: 1px solid #ccc;
}

.portrait {
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 1rem;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

/* Large devices */
@media (min-width: 992px) {
    .name {
        margin-left: 2rem;
    }
}
